<!DOCTYPE html>
<html>
<head>
<title>Fraud Detection</title>
</head>

<body>

<h2>Online Payment Fraud Detection</h2>

<form action="/predict" method="post">

<label>Step</label><br>
<input type="text" name="step"><br><br>

<label>Type</label><br>
<input type="text" name="type"><br><br>

<label>Amount</label><br>
<input type="text" name="amount"><br><br>

<label>Old Balance Org</label><br>
<input type="text" name="oldbalanceOrg"><br><br>

<label>New Balance Org</label><br>
<input type="text" name="newbalanceOrig"><br><br>

<label>Old Balance Dest</label><br>
<input type="text" name="oldbalanceDest"><br><br>

<label>New Balance Dest</label><br>
<input type="text" name="newbalanceDest"><br><br>

<input type="submit" value="Predict">

</form>

</body>
</html>

<!DOCTYPE html>
<html>
<head>
<title>Fraud Detection</title>
</head>

<body>

<h2>Online Payment Fraud Detection</h2>

<form action="/predict" method="post">

<label>Step</label><br>
<input type="text" name="step"><br><br>

<label>Type</label><br>
<input type="text" name="type"><br><br>

<label>Amount</label><br>
<input type="text" name="amount"><br><br>

<label>Old Balance Org</label><br>
<input type="text" name="oldbalanceOrg"><br><br>

<label>New Balance Org</label><br>
<input type="text" name="newbalanceOrig"><br><br>

<label>Old Balance Dest</label><br>
<input type="text" name="oldbalanceDest"><br><br>

<label>New Balance Dest</label><br>
<input type="text" name="newbalanceDest"><br><br>

<input type="submit" value="Predict">

</form>

</body>
</html>